name: Run CI Tests
on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - '.changelog/*'
      - '.tours/*'
      - 'contributing/*'
      - 'demo/*'
      - 'pkg/*'
      - 'scripts/*'
      - 'terraform/*'
      - 'ui/*'
      - 'website/*'
  push:
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - '.changelog/*'
      - '.tours/*'
      - 'contributing/*'
      - 'demo/*'
      - 'pkg/*'
      - 'scripts/*'
      - 'terraform/*'
      - 'ui/*'
      - 'website/*'
env:
  GO_VERSION: 1.17.7
  NOMAD_SLOW_TEST: 0 # todo set to 1
  GOBIN: /usr/local/bin
  GOTESTARCH: amd64
  CONSUL_VERSION: 1.11.3
  VAULT_VERSION: 1.9.3
jobs:
  checks:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # needs tags for checkproto
      - uses: magnetikonline/action-golang-cache@v1
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Run make check
        run: |
          make bootstrap
          make check
  compile:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-11, windows-2019]
    runs-on: ${{matrix.os}}
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - uses: magnetikonline/action-golang-cache@v1
        with:
          go-version: ${{env.GO_VERSION}}
      - name: Run make dev
        env:
          GOBIN: ${{env.GOROOT}}/bin # windows kludge
        run: |
          make bootstrap
          make dev
  tests-api:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - uses: magnetikonline/action-golang-cache@v1
        with:
          go-version: ${{env.GO_VERSION}}
          cache-key-suffix: -api
      - name: Run API tests
        env:
          GOTEST_MOD: api
        run: |
          make bootstrap
          make generate-all
          make test-nomad-module          
  tests-pkgs:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        pkg:
          - client
    steps:
      - uses: actions/checkout@v2
      - uses: magnetikonline/action-golang-cache@v1
        with:
          go-version: ${{env.GO_VERSION}}
          cache-key-suffix: -pkgs
      - name: Run Matrix Tests
        env:
          GOTEST_PKGS: ./${{matrix.pkg}}
        run: |
          make bootstrap
          make generate-all
          hc-install vault ${{env.VAULT_VERSION}}
          hc-install consul ${{env.CONSUL_VERSION}}
          sudo sed -i 's!Defaults!#Defaults!g' /etc/sudoers
          sudo -E env "PATH=$PATH" make test-nomad          
